.container_mce{
	margin:auto;
	width:1020px;	
	height: 100%;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	border: #666 thin ridge;
	line-height:17px;
	}
	strong{
		font-weight:bold;
		color:#006;
		}
table{
	font-family:Verdana, Geneva, sans-serif;
	border:thin;
}
td{
	font-family:Verdana, Geneva, sans-serif;
	border:thin !important;
	
	}